* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: cadetblue;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.userCard {
    border-radius: 6px;
    border: 5px solid #d4a942;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: cornsilk;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    line-height: 1.6em;
    filter: sepia(100%);
}


.imgBox {
    padding: 2rem;
    position: relative;

}

.userImg, .flagImg {
    object-fit: cover;
    border-radius: 50%;
    box-sizing: unset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.userImg {
    width: 150px;
    height: 150px;
    border: 10px solid #d4a942;

}

.userCard:hover{
    filter: none;
}

.flagImg {
    width: 30px;
    height: 30px;
    border: 5px solid #e7c265;
    position: absolute;
    right: 45px;
    bottom: 45px;
}

.userName, .userProf {
    text-transform: capitalize;
    text-align: center;
    padding: 0.5rem;
    white-space: nowrap;
    max-width: 10em;
}

h1, h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.userName {
    font-size: 1.4em;
    color: #7d5b07;
}

.userProf {
    font-size: 1em;
}

.contentBox {
    font-size: 0.9em;
    text-align: center;
    padding: 1rem;
}

.contactBox {
    margin-top: auto;
}

.contactList {
    margin: 2em;
}

.contactList > li {
    display: inline-block;

}

.contactList > li + li {
    padding-left: 2em;
}

.contactIcon {
    color: chocolate;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}